.serv{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    
}
.serv img {
    width: 100%;
    height: 60vh;
    position: absolute;


}



.serv p{
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: #bdbdbd;
    padding-bottom: 2rem;
    padding-top: 200px;
    font-size: 1.5rem;
    color: #fff;
    width: 50%;
    font-weight: bold;
    left: 20rem;
    
}
@media  (max-width:768px){
    .serv img {
        width: 100%;
        height: 60vh;
        position: absolute;
    
    
    }
    
    
    .serv p{
        position: relative;
        text-align: center;
        font-size: 1rem;
        color: #bdbdbd;
        padding-bottom: 2rem;
        padding-top: 190px;
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
        width: 80%;
        left: 10%;

    }
}